<div class="container">
    <div class="popup_sec" id="pop_forgt">
        <div class="clos_btn"><img src="../../../../assets/images/clos.png" alt="" id="clos_pop" /></div>
        <div class="pop_hdr">A mail has been send to your e-mail Id for Reset Password Link</div>
        <div class="man_contnt">
            <span>Please Check Your Mail Box!</span>
            <input type="submit" value="Ok">
        </div>
    </div>


    <div class="container">
        <div class="content">
            <div class="content_rgt">

                <div class="register_sec">
                    <div *ngIf="message">
                        <p>{{ message }}</p>
                    </div>
                    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
                        <h1>Forgot Password</h1>
                        <ul>
                            <li><span>Enter E-mail ID</span><input type="text" formControlName="email" placeholder="User@gmail.com"></li>
                            <li><input type="submit" value="Submit"></li>
                        </ul>
                    </form>
                </div>

            </div>
            <app-welcome></app-welcome>
        </div>
    </div>
    <div class="clear"></div>
</div>